<section class="app-carousel">
  <div class="link-carousel">
    <div class="card"><img ngSrc="/assets/icons8-amazon-prime-video-240.png" width="100" height="100" alt="Prime Video"
        (click)="abrirLinkExterno('https://www.primevideo.com/-/pt/')"><label>Prime Video</label>
    </div>
    <div class="card"><img ngSrc="/assets/Netflix_Logo_RGB.png" width="100" height="100" alt="Netflix"
        (click)="abrirLinkExterno('https://www.netflix.com/browse')"><label>Netflix</label>
    </div>
    <div class="card"><img ngSrc="/assets/icons8-hbo-max-250.png" width="100" height="100" alt="Hbo Max"
        (click)="abrirLinkExterno('https://www.max.com/br/pt')"> <label>Hbo Max</label></div>
    <div class="card"><img ngSrc="/assets/mais.png" width="60" height="60" alt="Adicionar Serviço"
        (click)="abrirCriacaoLink()"> <label>Adicionar Serviço</label></div>
  </div>
</section>
<div class="overlay" *ngIf="exibirFormulario">
  <app-new-link (fechar)="fecharCriacaoLink()"></app-new-link>
</div>