.app-carousel {
  background-color: #013a63;
  border-radius: 3rem;
}

.link-carousel {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.card {
  margin: 3rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.6);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
