.app-carousel {
  background: rgba(143, 138, 214, 0.356);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
  border: 1px solid rgba(60, 47, 182, 0.18);
  max-height: 18svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-carousel {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.2);
}

label {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 15px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}